<h1>Welcome to Twitter Crawl!</h1>
<h3>Welcome! This site allows you to view people tweets by different geographic locations. It also provides other options for you to customize your search results. Have fun!!</h3>
<br />
<div id="mapDiv">
<!-- Map goes here -->	

</div>
<br />
<br />
<form>
	<table border="0" cellpadding="10">
		<tr>
			<td>Which area are you interested in?</td>
			<td></td>	
		</tr>
		<tr>
			<td>What keywords are you looking for<br />from tweets?</td>
			<td></td>	
		</tr>
		<tr>
			<td>What keyword would you like to<br />track from the area you<br />select?</td>
			<td></td>	
		</tr>
		<tr>
			<td>Would you like to remove the<br />keyword that you are tracking?</td>
			<td></td>	
		</tr>
	</table>
	
	<br />
	<p>What colors would you like to be associated with the following general emotions?</p>
	<table border="0" cellpadding="10">
		<tr>
			<td>Happy</td>
			<td></td>
		</tr>	
		<tr>
			<td>Sad</td>
			<td></td>
		</tr>
		<tr>
			<td>Neutral</td>
			<td></td>
		</tr>
	</table>
</form>
<br />
<br />
<h3>Simple Statistics</h3>

<p>There are <%=  %> tweets in the area you selected.</p>
<br />
<p>The following are the top keywords among the tweets from the area you selected.</p>
<%=  %>
<br />
<p><%=  %>tweets contain the keyword that you are tracking from the area you selected.</p>
<hr />
